<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <form>
            Username:<br>
            <input type="text" id="username" name="username">
            <br>
            Password:<br>
            <input type="text" id="password" name="password">
            <br>

            <input type="button" id="login" value="Login">
            <br>
            <input type="button" id="register" value="Register">
        </form>
    </div>

</body>
</html>